html{
    height: 100%;
    width: 100%;
    margin: 0;
}

html::-webkit-scrollbar{
    width: 7px;
}

html::-webkit-scrollbar-thumb{
    background: rgb(0, 0, 0);
    border-radius: 5px;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
}

body{
    margin:0;
    margin-bottom: 0;
    padding:0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-image: linear-gradient(to top, #b7f1ff 0%,  rgb(110, 235, 218) 70%);
}

.botonAceptar{
    text-decoration: none;
    background: rgb(51, 18, 197);
    color:rgb(255, 255, 255);
    padding: 0rem 3rem;
    margin-top: 2rem;
    margin-left: 118px;
    font-size: 16px;
    border-radius: 20px;
    border:none;
    margin-bottom: 2rem;
    display:block;
    outline: none;
    height: 40px;
    cursor: pointer;
    text-align: center;
}

.epic{
    background: #2f3640;
  border-radius: 8px;
  margin-bottom: 8px;
  margin-left: 9.5rem;
  color: #f5f6fa;
  border: none;
  font-size: 14px;
  height: 180px;
  padding: 5px;
  width: 300px;
}

.epic option{
    height: 30px;
    border: 8px;
}

.epic::-webkit-scrollbar{
    width: 8px;
}
    
.epic::-webkit-scrollbar-thumb{
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

    
.boton{
    background-color: crimson;
    color:white;
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: .5rem;
    position: absolute;
    top: 1%;
    left:1%;
}

.titulo1{
        text-align: center;
        font-size: 4.5rem;
        font-family: "Dancing Script", arial;   
        margin-top: 10px;
}

.titulo2{
        text-align: center;
        font-size: 2.5rem;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(0, 0, 0);
        margin-bottom: 30px;
}            
.center{
    text-align: center;
}
.formulario{
    background-color: rgb(0, 0, 0, .2);
    width: min(60rem, 100% );/* toma el mas minimo*/
    margin: 0 auto;
    margin-top: 180px;
    padding: 2rem;
    border-radius: 1rem;
    height: 400px;
    width: 670px;
}
        
.formulario fieldset{
    border: none;
}
    
.formulario legend{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: rgb(0, 0, 0);
}
        
.campo{
    margin-bottom: 1rem;
}
        
.campo label{
    color:rgb(0, 0, 0);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
        
.input-text{
    background-color: rgb(255, 255, 255);
    width: 50%;
    border:none;
    padding: 1.5rem;
    border-radius: 1rem;
}
        
.enviar .boton{
    padding: 4rem;
    align-content: center;
    width: 60%;
    
}
       
            
.campo textarea{
    height: 20rem;
}
            
.contenedor-campos{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto 20rem;
    column-gap: 1rem;
}
            
.botonAceptar{
    background-color:rgb(27, 11, 48);
    color:rgb(255, 255, 255);
    padding: 0rem 3rem;
    margin-top: 1.5rem;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    border:none;      
    margin-bottom: 2rem;
    display:block;
    margin-left: 13rem;
}


.contendio-hero{
    position: absolute;
    background-color: rgb(0 0 0/ 10%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ubicacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
    
}
p{
    font-size: large;
    font-weight: bold;
}

.tituloGrupo{
    text-align: center;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
    margin-top: 20px;
}

.tituloSeleccionGrupos{
    text-align: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    margin-top: 150px;
    margin-bottom: -214px;
}